# Dependencies
node_modules/
/vendor/

# WP
web/wp
web/.htaccess
web/app/plugins/*
web/app/upgrade
web/app/uploads

# Compiled assets
web/app/themes/**/bundle.js
web/app/themes/**/bundle.ie.js
web/app/themes/*/css/style.css
web/app/themes/*/css/iconfont.css
web/app/themes/**/fonts/
src/app/themes/**/css/__styles/_iconfont.scss

# Filepacks
web/filepack*

# Dotenv
.env
.env.*
!.env.example

# No OS-specific garbage
*~
.DS_Store
Thumbs.db
thumbs.db

# No PhpStorm user configuration

## User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/terminal.xml

## Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

## Gradle:
.idea/gradle.xml
.idea/libraries
web/app/themes/campKingswood/eight29-filters/.cache/
