/**
 * WordPress specific base styles.
 */
.gm-style img {
  max-width: none;
}

.media img,
.media video,
.media object,
.media iframe {
  width: 100%;
  height: auto;
}

/* Make WordPress media inserted to post behave correctly */
.alignleft {
  float: left;
  margin: 0 30px 30px 0;
}

@media (max-width: 767.98px) {
  .alignleft {
    margin: 0 20px 20px 0;
  }
}

.alignright {
  float: right;
  margin: 0 0 30px 30px;
}

@media (max-width: 767.98px) {
  .alignright {
    margin: 0 0 20px 20px;
  }
}

.alignnone {
  display: inline-block;
  margin: 30px 0;
}

@media (max-width: 767.98px) {
  .alignnone {
    margin: 24px 0 20px;
  }
}

.aligncenter {
  display: block;
  clear: both;
  margin: 30px auto;
  text-align: center;
}

@media (max-width: 767.98px) {
  .aligncenter {
    margin: 20px auto;
  }
}

/* Make a 404 page look nicer and more readable */
.error404 {
  text-align: center;
}

.error404 ul {
  text-align: left;
}

.navigation.pagination {
  clear: both;
}

/* WP navigation menus are lists, but they don't need default list styling */
nav a {
  text-decoration: none;
  color: #062a40;
}

nav a:hover {
  text-decoration: none;
  color: #062a40;
}

nav li {
  display: inline-block;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.wp-caption {
  max-width: 100%;
}

.wp-caption-text {
  font-size: 15px;
  line-height: 22px;
  padding: 5px 0;
}

/* Happy rems pattern - 1rem = 10px */
html {
  font-size: 62.5%;
}

.body-1, body {
  font-size: 2rem;
  line-height: 1.6;
  font-weight: 500;
  margin: 0 0 3.2rem;
}

@media (max-width: 1199.98px) {
  .body-1, body {
    font-size: clamp(1.6rem, 1.5vw, 2rem);
  }
}

@media (max-width: 767.98px) {
  .body-1, body {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin: 0 0 1.6rem;
  }
}

.body-2 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin: 0 0 2.4rem;
}

@media (max-width: 767.98px) {
  .body-2 {
    font-size: 1.4rem;
    margin: 0 0 1.6rem;
  }
}

body {
  font-family: "raleway", sans-serif, sans-serif;
  margin: 0;
}

h1,
.h1 {
  font-weight: 700;
  font-size: 9.2rem;
  line-height: 9.2rem;
  font-family: "new-spirit", sans-serif;
  margin: 0 0 3.2rem;
}

@media (max-width: 767.98px) {
  h1,
  .h1 {
    font-size: 3.4rem;
    line-height: 4rem;
    margin: 0 0 1.6rem;
  }
}

h2,
.h2 {
  font-weight: 600;
  font-family: "new-spirit", sans-serif;
  z-index: 2;
  position: relative;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 24px;
}

@media (max-width: 1199.98px) {
  h2,
  .h2 {
    font-size: 43.2px;
  }
}

@media (max-width: 991.98px) {
  h2,
  .h2 {
    font-size: 38.4px;
  }
}

@media (max-width: 767.98px) {
  h2,
  .h2 {
    font-size: 33.6px;
  }
}

@media (max-width: 575.98px) {
  h2,
  .h2 {
    font-size: 24px;
  }
}

@media (max-width: 1199.98px) {
  h2,
  .h2 {
    line-height: 51.2px;
  }
}

@media (max-width: 991.98px) {
  h2,
  .h2 {
    line-height: 46.4px;
  }
}

@media (max-width: 767.98px) {
  h2,
  .h2 {
    line-height: 41.6px;
  }
}

@media (max-width: 575.98px) {
  h2,
  .h2 {
    line-height: 32px;
  }
}

p + h2, p +
.h2 {
  margin-top: 80px;
}

@media (max-width: 1199.98px) {
  p + h2, p +
  .h2 {
    margin-top: 70.6px;
  }
}

@media (max-width: 991.98px) {
  p + h2, p +
  .h2 {
    margin-top: 61.2px;
  }
}

@media (max-width: 767.98px) {
  p + h2, p +
  .h2 {
    margin-top: 51.8px;
  }
}

@media (max-width: 575.98px) {
  p + h2, p +
  .h2 {
    margin-top: 33px;
  }
}

p.overline + h2, p.overline +
.h2 {
  margin-top: 1.4rem;
}

@media (max-width: 767.98px) {
  p.overline + h2, p.overline +
  .h2 {
    margin-top: 0.8rem;
  }
}

h3,
.h3 {
  font-size: 2.6rem;
  line-height: 3.2rem;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 16px;
}

@media (max-width: 1199.98px) {
  h3,
  .h3 {
    font-size: 24.4px;
  }
}

@media (max-width: 991.98px) {
  h3,
  .h3 {
    font-size: 22.8px;
  }
}

@media (max-width: 767.98px) {
  h3,
  .h3 {
    font-size: 21.2px;
  }
}

@media (max-width: 575.98px) {
  h3,
  .h3 {
    font-size: 18px;
  }
}

@media (max-width: 1199.98px) {
  h3,
  .h3 {
    line-height: 30.4px;
  }
}

@media (max-width: 991.98px) {
  h3,
  .h3 {
    line-height: 28.8px;
  }
}

@media (max-width: 767.98px) {
  h3,
  .h3 {
    line-height: 27.2px;
  }
}

@media (max-width: 575.98px) {
  h3,
  .h3 {
    line-height: 24px;
  }
}

p + h3, p +
.h3 {
  margin-top: 48px;
}

@media (max-width: 1199.98px) {
  p + h3, p +
  .h3 {
    margin-top: 44.6px;
  }
}

@media (max-width: 991.98px) {
  p + h3, p +
  .h3 {
    margin-top: 41.2px;
  }
}

@media (max-width: 767.98px) {
  p + h3, p +
  .h3 {
    margin-top: 37.8px;
  }
}

@media (max-width: 575.98px) {
  p + h3, p +
  .h3 {
    margin-top: 31px;
  }
}

h4,
.h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 16px;
}

@media (max-width: 1199.98px) {
  h4,
  .h4 {
    font-size: 19.6px;
  }
}

@media (max-width: 991.98px) {
  h4,
  .h4 {
    font-size: 19.2px;
  }
}

@media (max-width: 767.98px) {
  h4,
  .h4 {
    font-size: 18.8px;
  }
}

@media (max-width: 575.98px) {
  h4,
  .h4 {
    font-size: 18px;
  }
}

p + h4, p +
.h4 {
  margin-top: 48px;
}

@media (max-width: 1199.98px) {
  p + h4, p +
  .h4 {
    margin-top: 44.6px;
  }
}

@media (max-width: 991.98px) {
  p + h4, p +
  .h4 {
    margin-top: 41.2px;
  }
}

@media (max-width: 767.98px) {
  p + h4, p +
  .h4 {
    margin-top: 37.8px;
  }
}

@media (max-width: 575.98px) {
  p + h4, p +
  .h4 {
    margin-top: 31px;
  }
}

h5,
.h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 7px;
}

@media (max-width: 1199.98px) {
  h5,
  .h5 {
    font-size: 15.6px;
  }
}

@media (max-width: 991.98px) {
  h5,
  .h5 {
    font-size: 15.2px;
  }
}

@media (max-width: 767.98px) {
  h5,
  .h5 {
    font-size: 14.8px;
  }
}

@media (max-width: 575.98px) {
  h5,
  .h5 {
    font-size: 14px;
  }
}

@media (max-width: 1199.98px) {
  h5,
  .h5 {
    line-height: 22.4px;
  }
}

@media (max-width: 991.98px) {
  h5,
  .h5 {
    line-height: 20.8px;
  }
}

@media (max-width: 767.98px) {
  h5,
  .h5 {
    line-height: 19.2px;
  }
}

@media (max-width: 575.98px) {
  h5,
  .h5 {
    line-height: 16px;
  }
}

@media (max-width: 767.98px) {
  h5,
  .h5 {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}

p + h5, p +
.h5 {
  margin-top: 33px;
}

@media (max-width: 1199.98px) {
  p + h5, p +
  .h5 {
    margin-top: 32.4px;
  }
}

@media (max-width: 991.98px) {
  p + h5, p +
  .h5 {
    margin-top: 31.8px;
  }
}

@media (max-width: 767.98px) {
  p + h5, p +
  .h5 {
    margin-top: 31.2px;
  }
}

@media (max-width: 575.98px) {
  p + h5, p +
  .h5 {
    margin-top: 30px;
  }
}

h6,
.h6 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  line-height: 1.6rem;
  font-size: 14px;
  margin-bottom: 7px;
}

@media (max-width: 1199.98px) {
  h6,
  .h6 {
    font-size: 13.4px;
  }
}

@media (max-width: 991.98px) {
  h6,
  .h6 {
    font-size: 12.8px;
  }
}

@media (max-width: 767.98px) {
  h6,
  .h6 {
    font-size: 12.2px;
  }
}

@media (max-width: 575.98px) {
  h6,
  .h6 {
    font-size: 11px;
  }
}

p + h6, p +
.h6 {
  margin-top: 33px;
}

@media (max-width: 1199.98px) {
  p + h6, p +
  .h6 {
    margin-top: 32.4px;
  }
}

@media (max-width: 991.98px) {
  p + h6, p +
  .h6 {
    margin-top: 31.8px;
  }
}

@media (max-width: 767.98px) {
  p + h6, p +
  .h6 {
    margin-top: 31.2px;
  }
}

@media (max-width: 575.98px) {
  p + h6, p +
  .h6 {
    margin-top: 30px;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  color: #062a40;
}

li {
  font-size: 2rem;
  line-height: 3.2rem;
  margin: 0 0 1.6rem;
}

@media (max-width: 767.98px) {
  li {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

.leadparagraph {
  font-size: 34px;
  line-height: 40px;
  margin: 0 0 3.2rem;
}

@media (max-width: 1199.98px) {
  .leadparagraph {
    font-size: 31.2px;
  }
}

@media (max-width: 991.98px) {
  .leadparagraph {
    font-size: 28.4px;
  }
}

@media (max-width: 767.98px) {
  .leadparagraph {
    font-size: 25.6px;
  }
}

@media (max-width: 575.98px) {
  .leadparagraph {
    font-size: 20px;
  }
}

@media (max-width: 1199.98px) {
  .leadparagraph {
    line-height: 36.8px;
  }
}

@media (max-width: 991.98px) {
  .leadparagraph {
    line-height: 33.6px;
  }
}

@media (max-width: 767.98px) {
  .leadparagraph {
    line-height: 30.4px;
  }
}

@media (max-width: 575.98px) {
  .leadparagraph {
    line-height: 24px;
  }
}

.leadparagraph.align-left {
  text-align: left;
}

.leadparagraph.align-right {
  text-align: right;
}

.leadparagraph.align-center {
  text-align: center;
}

@media (max-width: 767.98px) {
  .leadparagraph {
    font-size: 2rem;
    line-height: 2.4rem;
    margin: 0 0 2.4rem;
  }
}

/* Text Elements */
p {
  margin: 0 0 3.2rem;
}

p:last-child {
  margin: 0;
}

@media (max-width: 767.98px) {
  p {
    margin: 0 0 1.6rem;
  }
}

p ul,
ol + p {
  margin-top: 3.2rem;
}

@media (max-width: 767.98px) {
  p ul,
  ol + p {
    margin-top: 2.4rem;
  }
}

.subtitle-1 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin: 0 0 2.4rem;
}

.subtitle-2 {
  font-size: 1.4rem;
  line-height: 2.4rem;
  margin: 0 0 2.4rem;
}

.button-1 {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 3.2rem;
}

.button-2 {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.caption,
figcaption {
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin: 0 0 0.8rem;
}

.overline {
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.18rem;
  font-weight: 800;
  font-family: "raleway", sans-serif;
  margin: 0 0 0.8rem;
}

strong {
  font-weight: 700;
}

/* Horizontal Line */
hr {
  margin: 9.5rem 0 8rem;
  border-top: 1px solid #a3b6c2;
}

@media (max-width: 767.98px) {
  hr {
    margin: 2.9rem 0 3.2rem;
  }
}

::selection {
  background: rgba(219, 58, 0, 0.1);
}

::-moz-selection {
  background: rgba(219, 58, 0, 0.1);
}

/* Normalize links across browsers */
a {
  color: #000;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

a:focus,
a:hover {
  text-decoration: none;
  color: #000;
}

.page-content a:focus:not([class]), .page-content
a:hover:not([class]) {
  border-bottom: 1px solid currentColor;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: rem-calc(18);
  line-height: 1.77777778;
  min-width: rem-calc(320);
  margin: 0;
  color: #062a40;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  margin: rem-calc(20);
}

@media (max-width: 767.98px) {
  body {
    font-size: rem-calc(16);
    line-height: 1.5;
  }
}
