.loader {
	display: inline-block;
	width: rem(80);
	height: rem(80);

    &:after {
        content: " ";
        display: block;
        width: rem(64);
        height: rem(64);
        margin: rem(8);
        border-radius: 50%;
        border: rem(6) solid $primary;
        border-color: $primary transparent $primary transparent;
        animation: loader 1.2s linear infinite;
    }
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}