.section-texture {
	width: 100%;
	height: 8.5rem;
	position: absolute;
	z-index: 5;
	left: 0;
	overflow-x: hidden;
    pointer-events: none;

    @include media-breakpoint-down(sm) {
        height: rem(70);
    }

	img {
		width: 100%;
		height: 100%;
		min-width: 168rem;
		max-width: none;
		position: absolute;
		top: 0;
		left: 0;
	}

	&--bottom {
		bottom: 0;
		transform: translateY(50%);
	}

	&--top {
		top: 0;
		transform: translateY(-50%);
	}

	&--right {
		width: 8.5rem;
		height: 100%;
		top: 0;
		right: 0;
		left: auto;
		transform: translateX(10%);

		img {
			min-width: 0;
		}
	}
}

.home-torn-strips {
	@include media-breakpoint-down(sm) {
		transform: translateY(60%);
	}
}