.block-cta {
    position: relative;
    @include responsive-values('margin-bottom', 150, 88);

    .block-content + & {
        margin-top: rem(40);

        @include media-breakpoint-down(sm) {
            margin-top: rem(30);
        }
    }

    .container {
        position: relative;
        z-index: 7;
    }

    .sunset {
        @include responsive-values('margin-bottom', 30, 13);
        margin-bottom: rem(30);
    }

    &.bg-light {
        .sunset {
            @extend .sunset-dark;
        }
    }

    &.bg-dark-blue {
        color: $white;

        .block-cta__heading {
            color: $white;
        }
    }

    .c-btn-group {
        justify-content: center;

        @include media-breakpoint-down(sm) {
            margin-top: 0;
        }
    }

	.c-btn-wrapper {
		& + .c-btn-wrapper {
			margin-left: rem(32);
		}

        &:not(:last-child) {
            @include media-breakpoint-down(xs) {
                margin-bottom: rem(20) !important;
            }
        }
	}

    .c-btn {
        &:not(.c-btn-tertiary) {
            @include media-breakpoint-down(xs) {
                width: 100%;
            }
        }

        &.c-btn-tertiary {
            @include media-breakpoint-down(xs) {
                margin-top: rem(8);
            }
        }
    }

    &__content {
        @include responsive-values('padding-top', 121, 96);
        @include responsive-values('padding-bottom', 66, 40);

        text-align: center;
    }

    &__heading {
        @include responsive-values('margin-bottom', 48, 24);
    }
}