.main-header {
	width: 100%;
    top: 0;
    left: 0;
	position: fixed;
	z-index: 999;
	background-color: $white;
	box-shadow: 0 0 13px rgba(0, 0, 0, 0.08);
	transition: all 0.3s linear;

    body.admin-bar & {
        top: 32px;
        
        @media screen and (max-width: 782px) {
            top: 46px;
        }
    }

    &:before {
        @include media-breakpoint-down(lg) {
            content: '';
            background-color: $white;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            transform: translateX(100%);
            transition: transform 0.3s linear;
        }
    }

    &.open {
        &:before {
            @include media-breakpoint-down(lg) {
                transform: none;
            }
        }
    }

    &:after {
        content: '';
        background-color: $white;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
    }

	&__container {
		display: flex;
		padding: 0 rem(15);
        max-width: rem(1560);
        align-items: center;
        height: rem(80);
        transition: margin-top 0.2s linear;

		@include media-breakpoint-down(lg) {
			max-width: none;
            height: rem(64);
		}

        @include media-breakpoint-down(xs) {
            padding: 0 rem(9) 0 rem(10);
        }

        #announcement-bar.active + & {
            margin-top: var(--ab, 32px);

            @include media-breakpoint-down(sm) {
                margin-top: var(--ab, 48px);                
            }
        }
	}

	&__mobile-top {
        position: relative;
        z-index: 1000;
        
		@include media-breakpoint-down(lg) {
			width: 100%;
			position: relative;
			z-index: 999;
            display: flex;
            flex-direction: row;
            align-items: center;
		}
	}

	&__logo {
        display: block;

        svg {
            @include media-breakpoint-up(xl) {
                max-width: 21.2vw;
            }
        }

		@include media-breakpoint-down(lg) {
			position: relative;
			margin-right: auto;
			margin-left: 0;

			svg {
				max-width: rem(183);
			}
		}

		.ks-logo path {
			fill: $dark;
		}
	}

    &__mobile-icons {
        margin-left: auto;
        margin-right: rem(0);
        display: flex;
        flex-direction: row;

        @include media-breakpoint-up(xl) {
            display: none;
        }

        a {
            padding: rem(3);
            display: block;
            line-height: 0;
        }
    }

	&__link-left {
		font-size: rem(16);
		font-weight: 600;
		line-height: rem(24);
		color: $dark-blue;

		@include media-breakpoint-down(lg) {
			color: $primary;
		}

		.link-icon {
			position: relative;
			top: 5px;
			margin-left: 6px;
		}

		path {
			fill: $dark-blue;

			@include media-breakpoint-down(lg) {
				fill: $primary;
			}
		}
	}

	&__button {
		min-width: initial;
		padding: 0.9rem 1.9rem;
		font-size: 1.4rem;
		font-weight: 700;
		line-height: 1.6rem;
		letter-spacing: 0;
		border-width: 1px;

		@include media-breakpoint-down(lg) {
			width: 100%;
			max-width: 30rem;
			padding: 1.4rem 1.9rem;
			margin-top: 1.2rem;
			font-size: 1.6rem;
			font-weight: 800;
			line-height: 2.4rem;
			letter-spacing: 0.5px;
		}

		&--transparent {
			margin-right: 1.8rem;
			background-color: transparent;

			@include media-breakpoint-down(lg) {
				margin-right: 0;
				color: $primary;
				border-width: 2px;
				border-color: $primary;
			}
		}

		&--white {
			color: $white;
			background-color: $primary;

			@include media-breakpoint-down(lg) {
				border-width: 2px;
				border-color: $primary;
				background-color: $primary;
			}
		}
	}
}

